<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
  {% include head.html %}

  <body class="has-push-menu">
    {% include svg-icons.html %} {% include header.html %}

    <section
      class="post {% if site.two_columns_layout %}two-columns{% else %}one-column{% endif %}"
    >
      <article role="article" class="post-content">
        <p class="post-info">
          {% if page.date %}
          <svg class="icon-calendar" id="date">
            <use xlink:href="#icon-calendar"></use>
          </svg>
          <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
            {% include date.html date=page.date %}
          </time>
          {% endif %}
          <svg id="clock" class="icon-clock">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span>{{ minutesText }}</span>
        </p>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-subtitle">{{ page.subtitle }}</p>

        <!-- {% if page.image and paginator.activated == nil %}
                    <img src="{{ page.image }}" alt="Featured image" class="post-cover" >
                {% endif %} -->

        {% include pagination-post.html progressBar=true %} {% include toc.html
        %} {{ content }}



        {% if page.special == true %}
          <div class="container">
            <label class="dropdown-label" for="dropdownSelect">Select a Subject</label>
            <select class="dropdown-select" id="subjectDropdown">
              <option value="math">Math</option>
              <option value="phsx">Physics</option>
              <option value="chem">Chemistry</option>
            </select>
            <!-- <div class="tile-container" id="tileContainer"> -->
          <div id="pdfList"></div>

            
            </div>
          </div>
        {% endif %}

        {% if page.special == false %}
          <div class="post-sort">
            <label class="dropdown-label" for="dropdownSelect">Sort by:</label>
            <select class="dropdown-select" id="sortSelect">
              <option value="name">Name</option>
              <option value="date">Date</option>
            </select>
          </div>

          <div id="pdfList"></div>
        {% endif %}


       
        
        <!-- <ul class="pdfList" id="pdfList" style="list-style-type:none"></ul> -->

        {% include pagination-post.html %}
      </article>

      {% if site.two_columns_layout %}
      <aside class="see-also">
        <h2>{{ site.translations.text.see_also | default: "See also" }}</h2>
        <ul>
          {% assign next_posts = site.posts |
          where_exp:"post","post.is_generated != true" |
          where_exp:"post","post.path != page.path" %} {% assign shuffled_array
          = next_posts | shuffle %} {% for post in shuffled_array limit:6 %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
              {% if post.optimized_image %}
              <img src="{{ post.optimized_image }}" />
              {% elsif post.image %}
              <img src="{{ post.image }}" />
              {% else %}
              <img src="/assets/img/off.jpg" />
              {% endif %}
              <h3>{{ post.title }}</h3>
            </a>
          </li>
          {% endfor %}
        </ul>
      </aside>
      {% endif %}
    </section>

    <!-- Add time bar only for pages without pagination -->
    {% if paginator.activated == nil and site.show_time_bar == true %} {%
    include time-bar.html %} {% include recommendation.html %} {% endif %}

    <!-- Show modal if the post is the last one -->
    {% if paginator.is_last and site.show_modal_on_finish_post %} {% include
    modal.html title="You made it!" subtitle="Why don't you try another?" %} {%
    endif %}

    <!-- Show modal before user leaves the page -->
    {% if site.show_modal_on_exit %} {% include modal.html title="Don't go yet!"
    subtitle="You may also like..." closed=true showOnExit=true %} {% endif %}
    {% include subscription.html %} {% include share.html %} {% include
    author.html %} {% include comments.html %} {% include footer.html %} {%
    assign author = site.authors | where: "name", post.author | first %} {%
    assign author_urls = '' %} {% if author.github_username %} {% assign
    author_urls = author_urls | append: '"https://github.com/' | append:
    author.github_username | append: '",' %} {% endif %} {% if
    author.facebook_username %} {% assign author_urls = author_urls | append:
    '"https://www.facebook.com/' | append: author.facebook_username | append:
    '",' %} {% endif %} {% if author.twitter_username %} {% assign author_urls =
    author_urls | append: '"https://twitter.com/' | append:
    author.twitter_username | append: '",' %} {% endif %} {% if
    author.medium_username %} {% assign author_urls = author_urls | append:
    '"https://medium.com/@' | append: author.medium_username | append: '",' %}
    {% endif %} {% if author.instagram_username %} {% assign author_urls =
    author_urls | append: '"https://www.instagram.com/' | append:
    author.instagram_username | append: '",' %} {% endif %} {% if
    author.linkedin_username %} {% assign author_urls = author_urls | append:
    '"https://www.linkedin.com/in/' | append: author.linkedin_username | append:
    '",' %} {% endif %}

    <script type="text/javascript">
      function formatDate(dateString) {
        const options = { year: 'numeric', month: 'short', day: 'numeric' };
        return new Date(dateString).toLocaleDateString('en-US', options);
      }

      // function updatePDFList(sortBy) {
      //   const pdfList = document.getElementById("pdfList");
      //   const pdfs = {{ page.links | jsonify | safe }};

      //   if (sortBy === "date") {
      //     pdfs.sort((a, b) => {
      //         const dateA = new Date(a.link.split("/")[3].slice(0, 10));
      //         const dateB = new Date(b.link.split("/")[3].slice(0, 10));
      //         return dateA - dateB;
      //     });
      //   } else if (sortBy === "name") {
      //       pdfs.sort((a, b) => a.name.localeCompare(b.name));
      //   }

      //   pdfList.innerHTML = "";
      //   pdfs.forEach(pdf => {
      //     const pdfItem = document.createElement("div");
      //     pdfItem.classList.add("pdf-item");

      //     const content = document.createElement("div");
      //     content.classList.add("pdf-content");

      //     const title = document.createElement("h2");
      //     title.textContent = pdf.name;
      //     content.appendChild(title);

      //     const date = document.createElement("p");
      //     date.textContent = `Posted on ${formatDate(pdf.link.split("/")[3].slice(0, 10))}`;
      //     content.appendChild(date);

      //     pdfItem.appendChild(content);

      //     pdfItem.addEventListener("click", function () {
      //       window.location.href = pdf.link;
      //     });

      //     pdfList.appendChild(pdfItem);
      //   });
      // }



      // const sortSelect = document.getElementById("sortSelect");
      // sortSelect.addEventListener("change", (event) => {
      //     const sortBy = event.target.value;
      //     updatePDFList(sortBy);
      // });

      // // Initial sorting by name and update the PDF list
      // updatePDFList("name");
      // sortSelect.value = "name"; // Set the default value of sort select


      
      // function filterLinks() {
      //   const tileContainer = document.getElementById("tileContainer");
      //   const pdfs = {{ page.links | jsonify | safe }};
      //   const selectedSubject = subjectDropdown.value;
      //   console.log(pdfs);
      //   console.log(selectedSubject);
      //   // Save the selected subject to localStorage
      //   localStorage.setItem("selectedSubject", selectedSubject);

      //   tileContainer.innerHTML = ""; // Clear the container first

      //   const filteredLinks = pdfs[selectedSubject];
      //   console.log(filteredLinks);

      //   if (filteredLinks) {
      //     filteredLinks.forEach(elem => {
      //       const tile = document.createElement("div");
      //       tile.classList.add("tile");

      //       const title = document.createElement("h2");
      //       title.textContent = elem.name;

      //       const date = document.createElement("p");
      //       date.textContent = `Posted on ${formatDate(elem.link.split("/")[4].slice(0, 10))}`;

      //       tile.appendChild(title);
      //       tile.appendChild(date);

      //       tile.addEventListener("click", function () {
      //         window.location.href = elem.link;
      //       });

      //       tileContainer.appendChild(tile);
      //     });
      //   }
      // }

      // const subjectDropdown = document.getElementById("subjectDropdown");
      // subjectDropdown.addEventListener("change", filterLinks);      

      // selectedSubject = localStorage.getItem("selectedSubject");
      // if (selectedSubject) {
      //   subjectDropdown.value = selectedSubject;
      // }

      // filterLinks();


      // JavaScript
      function updatePDFList(sortBy) {
        const pdfList = document.getElementById("pdfList");
        const pdfs = {{ page.links | jsonify | safe }};

        if (sortBy === "date") {
          pdfs.sort((a, b) => {
            const dateA = new Date(a.link.split("/")[3].slice(0, 10));
            const dateB = new Date(b.link.split("/")[3].slice(0, 10));
            return dateA - dateB;
          });
        } else if (sortBy === "name") {
          pdfs.sort((a, b) => a.name.localeCompare(b.name));
        }

        pdfList.innerHTML = "";
        pdfs.forEach(pdf => {
          const pdfItem = document.createElement("div");
          pdfItem.classList.add("pdf-item");

          const content = document.createElement("div");
          content.classList.add("pdf-content");

          const title = document.createElement("h2");
          title.textContent = pdf.name;
          content.appendChild(title);

          const date = document.createElement("p");
          date.textContent = `Posted on ${formatDate(pdf.link.split("/")[3].slice(0, 10))}`;
          content.appendChild(date);

          pdfItem.appendChild(content);

          pdfItem.addEventListener("click", function () {
            window.location.href = pdf.link;
          });

          pdfList.appendChild(pdfItem);
        });
      }

      const sortSelect = document.getElementById("sortSelect");

      if (sortSelect) {
        sortSelect.addEventListener("change", (event) => {
          const sortBy = event.target.value;
          updatePDFList(sortBy);
        });

        // Initial sorting by name and update the PDF list
        updatePDFList("name");
        sortSelect.value = "name"; // Set the default value of sort select
      }

      function filterLinks() {
        const pdfList = document.getElementById("pdfList");
        const subjectDropdown = document.getElementById("subjectDropdown");
        const pdfs = {{ page.links | jsonify | safe }};
        console.log(pdfs);
        if (!subjectDropdown) {
          return; // Don't proceed if subjectDropdown doesn't exist
        }

        const selectedSubject = subjectDropdown.value;
        console.log(selectedSubject);
        // Save the selected subject to localStorage
        localStorage.setItem("selectedSubject", selectedSubject);

        pdfList.innerHTML = "";
        
        let filteredLinks = [];
        filteredLinks = pdfs.find(item => item.hasOwnProperty(selectedSubject));

        filteredLinks[selectedSubject].sort((a, b) => {
            // Custom sorting function to handle numbers before names
            const nameA = a.name.toLowerCase();
            const nameB = b.name.toLowerCase();

            if (nameA < nameB) return -1;
            if (nameA > nameB) return 1;
            return 0;
          });

        if (filteredLinks) {

          filteredLinks[selectedSubject].forEach(pdf => {

          const pdfItem = document.createElement("div");
          pdfItem.classList.add("pdf-item");

          const content = document.createElement("div");
          content.classList.add("pdf-content");

          const title = document.createElement("h2");
          title.textContent = pdf.name;
          content.appendChild(title);

          const date = document.createElement("p");
          date.textContent = `Posted on ${formatDate(pdf.link.split("/")[4].slice(0, 10))}`;
          content.appendChild(date);

          pdfItem.appendChild(content);

          pdfItem.addEventListener("click", function () {
            window.location.href = pdf.link;
          });

          pdfList.appendChild(pdfItem);
          pdfItem.addEventListener("click", function () {
            window.location.href = pdf.link;
          });

          pdfList.appendChild(pdfItem);
            
          });
        }
      }

      const subjectDropdown = document.getElementById("subjectDropdown");

      if (subjectDropdown) {
        subjectDropdown.addEventListener("change", filterLinks);

        selectedSubject = localStorage.getItem("selectedSubject");
        if (selectedSubject) {
          subjectDropdown.value = selectedSubject;
        }

        filterLinks();
      }

    </script>

    {% if page.math %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
      };
    </script>

    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    {% endif %}

    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "name": "{{ page.title }}",
          "headline": "{{ page.subtitle }}",
          "description": "{{ page.description }}",
          "image": "{{ page.image }}",
          "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
          "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
          "wordcount": "{{ content | number_of_words }}",
          "inLanguage": "{{ site.language }}",
          "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
          "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
          "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
          "author": {
              "@type": "Person",
              "name": "{{ author.display_name }}",
              {% if author.photo %}
              "image": "{{ author.photo }}",
              {% else %}
              "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
              {% endif %}
              "jobTitle": "{{ author.position }}",
              "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
              "sameAs": [
                  {{ author_urls | split: "," | join: "," }}
              ]
          },
          "publisher": {
              "@type": "Organization",
              "name": "{{ site.name }}",
              "url": "{{ site.url }}{{site.baseurl}}/",
              "logo": {
                  "@type": "ImageObject",
                  "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                  "width": "600",
                  "height": "315"
              }
          },
          "mainEntityOfPage": "True",
          "genre": "{{ page.category }}",
          "articleSection": "{{ page.category }}",
          "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
      }
    </script>
  </body>
</html>
